<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546388172762-vqob5nr2dcckb69n01j7vi7rbq59colv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546388172762-vqob5nr2dcckb69n01j7vi7rbq59colv</string>
	<key>API_KEY</key>
	<string>AIzaSyAH_ltv3uIc_i1cErq4w1-nFZwCgvwsyR8</string>
	<key>GCM_SENDER_ID</key>
	<string>546388172762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.giftree.maskeyes</string>
	<key>PROJECT_ID</key>
	<string>maskeyes-8f8fa</string>
	<key>STORAGE_BUCKET</key>
	<string>maskeyes-8f8fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546388172762:ios:71495170ae4d5b32612ae3</string>
	<key>DATABASE_URL</key>
	<string>https://maskeyes-8f8fa.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6930055600634279~7524907003</string>
</dict>
</plist>